[MAIN]
py-version=3.12
jobs=1
persistent=yes

[MESSAGES CONTROL]
disable=
    duplicate-code,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    logging-fstring-interpolation

[FORMAT]
max-line-length=119

[REPORTS]
reports=no
score=yes

[DESIGN]
max-args=6
max-positional-arguments=6
max-attributes=20
